<!-- Navigation -->


<a class="navbar-brand logoLink" href="/">
  <div class="avAnimDiv">
    <div class="avAnimDiv2">
      {{{_sections.header}}}
    </div>

    <div class="avAnimDiv3">
      <span class="log">LOGIC</span>
    </div>
  </div>
</a>

<nav class="navbar navbar-expand-lg navbar-light shadow fixed-top">
  <div class="container">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link homeLink" href="/">HOME
            <span class="sr-only">(current)</span>
          </a>
          <div class="linkLine linkLine1">
            <div class="linkLineIn"></div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link projectsLink" href="projects">PROJECTS</a>
          <div class="linkLine linkLine2">
            <div class="linkLineIn"></div>
          </div>
        </li>
        <li class="nav-item dropdown">
          {{{_sections.headerLinks}}}
        </li>
        <li class="nav-item">
          {{{_sections.contactLink}}}
        </li>
      </ul>
    </div>

  </div>

  <div class="languages">
    <button id="ser">SER</button>
    <button id="eng">ENG</button>
  </div>

</nav>

<script>

  ser.onclick = function () {

    if (window.location.pathname == "/") {
      window.location.pathname = "/ser"
    }
    if (window.location.pathname == "/projects") {
      window.location.pathname = "/ser/projekti"
    }
    if (window.location.pathname == "/contact") {
      window.location.pathname = "/ser/kontakt"
    }
    if (window.location.pathname == "/about") {
      window.location.pathname = "/ser/o-nama"
    }
    if (window.location.pathname == "/fields") {
      window.location.pathname = "/ser/polja"
    }
    if (window.location.pathname == "/clients") {
      window.location.pathname = "/ser/klijnti"
    }
    if (window.location.pathname == "/partners") {
      window.location.pathname = "/ser/partneri"
    }
    if (window.location.pathname == "/company") {
      window.location.pathname = "/ser/kompanija"
    }

  }


  eng.onclick = function () {

    if (window.location.pathname.slice(0, 4) == "/ser") {
      window.location.pathname = "/"
    }
    if (window.location.pathname == "/ser/projekti") {
      window.location.pathname = "projects"
    }
    if (window.location.pathname == "/ser/kontakt") {
      window.location.pathname = "contact"
    }
    if (window.location.pathname == "/ser/o-nama") {
      window.location.pathname = "about"
    }
    if (window.location.pathname == "/ser/polja") {
      window.location.pathname = "fields"
    }
    if (window.location.pathname == "/ser/klijnti") {
      window.location.pathname = "clients"
    }
    if (window.location.pathname == "/ser/partneri") {
      window.location.pathname = "partners"
    }
    if (window.location.pathname == "/ser/kompanija") {
      window.location.pathname = "company"
    }
  }

  // links
  const first = document.querySelector(".navbar-nav").firstElementChild;

  if (window.location.pathname.substring(0, 4) == "/ser") {
    first.firstElementChild.innerHTML = "NASLOVNA";
    document.querySelector(".homeLink").href = "/ser";

    first.nextElementSibling.firstElementChild.innerHTML = "PROJEKTI";
    document.querySelector(".projectsLink").href = "/ser/projekti";
  }

</script>
