{{#section 'header'}}
<img src="/images/logo.png" class="logoImg a" alt="avologic">
{{/section}}
{{#section 'headerLinks'}}
<a class="nav-link aboutLink" href="about" id="navbarDropdownMenuLink" role="button" aria-haspopup="true"
    aria-expanded="false">
    ABOUT US
</a>
<div class="linkLine linkLine4">
    <div class="linkLineIn"></div>
</div>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item partnersLink" href="/partners">Partnerships</a>
    <a class="dropdown-item companyLink" href="/company">Our company</a>
</div>
{{/section}}
{{#section 'contactLink'}}
<a class="nav-link contactLink" href="contact">CONTACT</a>
<div class="linkLine linkLine5">
    <div class="linkLineIn"></div>
</div>
{{/section}}

<div class="company">
    <div class="container">
        <div class="d-flex">
            <div class="d-flex">
                <p>
                    We started as a small AV company long time ago.
                    As the technology improved, we followed every step in various filds.
                    We impleneted many new solutions, and whats's more important
                    we brought it in Serbia, for the first time ever.
                </p>
                <p>
                    Our mission and vission are always turned towards the future
                    We are always following the newest trends in theese industries
                    We bring them to you from main world distributors.
                </p>
                <p>
                    The leader of our the company is Sasa Ampovski, electro engineer with
                    long experience. AVologic is practically his mirror, and everything that
                    he has sucseed and has learnt by now, he incested in it, where he keeps
                    to family values which we want to bring to you also.
                </p>
            </div>
            <div class="d-inline-flex">
                <img src="../../images/logo.png" alt="">
            </div>
        </div>
    </div>
</div>