{{#section 'header'}}
<img src="/images/logo.png" class="logoImg a" alt="avologic">
{{/section}}

{{#section 'headerLinks'}}
{{!-- <a class="nav-link dropdown-toggle" href="about" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false"> --}}
<a class="nav-link aboutLink" href="about" id="navbarDropdownMenuLink" role="button" aria-haspopup="true"
    aria-expanded="false">
    ABOUT US
</a>

<div class="linkLine linkLine4">
    <div class="linkLineIn"></div>
</div>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item partnersLink" href="/partners">Partnerships</a>
    <a class="dropdown-item companyLink" href="/company">Our company</a>
</div>
{{/section}}

{{#section 'contactLink'}}
<a class="nav-link contactLink" href="contact">CONTACT</a>
<div class="linkLine linkLine5">
    <div class="linkLineIn"></div>
</div>
{{/section}}

<div class="partners">
    <div class="container">
        <div>
            <div>
                <p>Our main partners are big companies, with a proven skills<br>
                    and a long career.
                </p>
                <p>Some of the main colaborators are:</p>
                <ul>
                    <li>Ledec </li>
                    <li>Kfc</li>
                    <li>Fashoin&riends</li>
                </ul>
                <p>
                    We are dedicated to following and attending
                    all the AV fairs, both local and world wide. <br>
                    There we develop and enlarge our
                    connections and partnerships. We love connections <br>
                    with serious producers and distributors of the latest trends
                    technology.
                </p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>