{{#section 'header'}}
  <img src="/images/logo.png" class="logoImg a" alt="avologic">
{{/section}}
{{#section 'headerLinks'}}
  <a class="nav-link aboutLink" href="about" id="navbarDropdownMenuLink" role="button" aria-haspopup="true"
    aria-expanded="false">
    ABOUT US
  </a>
  <div class="linkLine linkLine4">
    <div class="linkLineIn"></div>
  </div>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item partnersLink" href="/partners">Partnerships</a>
    <a class="dropdown-item companyLink" href="/company">Our company</a>
  </div>
{{/section}}
{{#section 'contactLink'}}
  <a class="nav-link contactLink" href="contact">CONTACT</a>
  <div class="linkLine linkLine5">
    <div class="linkLineIn"></div>
  </div>
{{/section}}

<div class="about container">
  <div>
    <div class="d-inline-block float-left">
      <div class="aboutText">
        We are Belgrade based company, with experienced team <br>
        that works in many electro-technique fields.<br>
        <br>
        Our main profession is distributing and adjusting branding pannels.<br>
        We have a long history in this area, and our clients already<br>
        use our services.<br>
        <br>
        Some of our clinets are:
        KFC, Ledeca, Fachion&Friends etc.
      </div>
      <br>
      <div>
        Our mission and vission are always turned towards the future<br>
        We are always following the newest trends in theese industries<br>
        We bring them to you from main world distributors.
      </div>
    </div>
    <div>
      <img src="images/ledeca/sponsors.jpg" alt="branding pannels clients" class="d-inline-block float-right"
        width="40%">
    </div>
  </div>
</div>