<div class="about">
    <div class="container">
        <div class="d-inline-block float-left">
            <div class="aboutText">
                We are Belgrade based company, with experienced team <br>
                that works in many electro-technique fields.<br>
                 <br>
                Our main profession is distributing and adjusting branding pannels.<br>

                We have a long history in this area, and our clients already<br>
                use our services.<br>
                <br>
                Some of our clinets are:
                KFC, Ledeca, Fachion&Friends etc.
            </div>
            <br>
            <div>
                Our mission and vission are always turned towards the future<br>
                We are always following the newest trends in theese industries<br>
                We bring them to you from main world distributors.
            </div>
        </div>

        <div>
            <img src="images/ledeca/sponsors.jpg" alt="" class="d-inline-block float-right" width="40%">
        </div>
    </div>
</div>