<div class="container-fluid contact">
 
    <img src="images/map.png" alt="" width="50%" height="20%">
    <br/>   
    <br/>  
    <div class="">
        +381 63 275873
    </div>
    <br/>   

    <div class="">
        Panciceva 20<br/> 11000 Belgrade        
    </div>
    <br/>  
    
</div>