<div class="container-fluid contact">
 
    {{!-- <img src="images/map.png" alt="" width="50%" height="20%"> --}}
     <iframe class="map" src="https://wego.here.com/directions/mix//Ulica-Panciceva-20,-11158-Belgrade,-Serbia:loc-dmVyc2lvbj0xO3RpdGxlPVVsaWNhK1BhbmNpY2V2YSsyMDtsYW5nPXNyLUxhdG4tdC1zcjtsYXQ9NDQuODI2MDQ5ODA0Njg3NTtsb249MjAuNDYyNDkwMDgxNzg3MTE7c3RyZWV0PVVsaWNhK1BhbmNpY2V2YTtob3VzZT0yMDtjaXR5PUJlbGdyYWRlO3Bvc3RhbENvZGU9MTExNTg7Y291bnRyeT1TUkI7ZGlzdHJpY3Q9U3RhcmkrR3JhZDtzdGF0ZT1DZW50cmFsbmErU3JiaWphO2NvdW50eT1HcmFkK0Jlb2dyYWQ7Y2F0ZWdvcnlJZD1idWlsZGluZztzb3VyY2VTeXN0ZW09aW50ZXJuYWw7bmxhdD00NC44MjYyNDA1Mzk1NTA3ODtubG9uPTIwLjQ2MjYxMDI0NDc1MDk3NztwZHNDYXRlZ29yeUlkPTkwMC05MzAwLTAwMDA?map=44.82526,20.46689,16,normal"
         scrolling:"yes">
    </iframe>
    <br/>   
    <br/>  
    <div class="">
        +381 63 275873
    </div>
    <br/>   

    <div class="">
        Panciceva 20<br/> 11000 Belgrade        
    </div>
    <br/>  
    
</div>