<div class="partners">
    <div class="container">
        <div class="">
             <div class="">
                <p>Our main partners are big companies, with a proven skills<br>
                and a long career.
                </p>
                <p>Some of the main colaborators are:</p>
                <ul>
                    <li>Ledeca</li>
                    <li>KFC</li>
                    <li>Fashoin&Friends</li>
                </ul>
                <p></p>  
                <p></p>
            </div>
        </div>  
    </div>
</div>