<div class="projects">
   <div class="row">
        <div class="col-md-4 col-xs-12">
            <div class="card border-0">
                <img src="images/paneli/pan1.jpg" alt="..." class="card-img">
                <div class="caption">
                    <h3>Ledeca</h3>
                    <p class="description">Our first works on international scene</p>
                    <div class="clearfix">
                        <div class="price pull-left"></div>
                        <a href="#" class="btn btn-success" role="button">Show more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card border-0">
                <img src="images/paneli/w2.jpg" alt="..." class="card-img">
                <div class="caption">
                    <h3>Ada mall</h3>
                    <p class="description">Shop panels used in Ada Mall</p>
                    <div class="clearfix">
                        <a href="#" class="btn btn-success pull-right" role="button">Show more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card border-0">
                <img src="images/paneli/w3.jpg" alt="..." class="card-img">
                <div class="caption">
                    <h3>Usce shopping mall</h3>
                    <p class="description">Shop panels used in Usce</p>
                    <div class="clearfix">
                        <a href="#" class="btn btn-success pull-right" role="button">Show more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
