body {
    background: black;
}

.routes {
    display: block;
    margin-top:150px;
}

.backg {
    opacity: 0.7;
}

.navbar {
    background: rgba(54, 52, 53, 0.5) !important;
    height:150px;
    border-radius: 0;
    border-bottom: 2px solid rgba(255, 117, 25, 0.9);
    transition: 1.5s;
}

.logoLink {
    position: absolute;
    top:25px;
    height:100px;
    margin-left:15px;
    padding: 0;
    filter:brightness(0.95);
}

.logoImg {
    height:inherit;
}

.navbar-nav {
    position: absolute;
    bottom:-2px;
    right:250px;
}

.headBg {

}
.dropdown-menu {
    background: rgb(230, 227, 227);
    margin-top:0px;
}

.navbar-nav>li>a {
    font-size: 1.2rem;
    font-family: Arial Narrow, sans-serif;
    color:orange !important;
    opacity: 0.9;
    transition: 0.1s;
}

.navbar-nav>li>a:hover {
    transition: 0.1s;
    background: transparent !important; 
    opacity: 1;
}

.linkLine {
    width:100%;
    height:2px;
    background: white;
}

.linkLineIn {
    width:0%;
    height:2px;
    background: white;
}

.linkLine1 {
    width:100%;
    height:2px;
    background: rgb(116, 38, 3);
}

.linkLine2 {
    width:100%;
    height:2px;
    background: rgb(160, 57, 9);
}

.linkLine3 {
    width:100%;
    height:2px;
    background: rgb(194, 72, 15);
}

.linkLine4 {
    width:100%;
    height:2px;
    background: rgb(231, 91, 27);
}

.carousel, .carousel-inner img {
    height: 300px;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 150px;
    filter: brightness(0.9);
}

.thumbnail img {
    max-height: 150px;
}

.card{
    background: rgb(24, 24, 24);
    color:rgb(145, 143, 143);
    margin-bottom:10px;
}

.thumbnail .description {
    color: #7f7f7f;
}


.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(95, 28, 28);
    height:0px;
    color: rgb(85, 85, 85);
}

li.dropdown:hover > .dropdown-menu {
    display: block;
    transition: 2s;
}

.home {
    background: rgb(17, 16, 16);
    padding-bottom: 15px;
}

.projects {
    padding: 15px;
    margin-top:200px;
    background: rgb(17, 16, 16);
}

.about {
    padding: 15px;
    padding-right: 0;
    margin-top:270px;
    color:white;
    opacity: 0.7;
    background: rgb(17, 16, 16);
    display: table;
    clear: both;
}

.aboutText {
    padding-top: 5px;
}

.contact {
    padding: 15px;
    margin-top:150px;
    color:white;
    opacity: 0.8;
    background: rgb(17, 16, 16);
}

.partners {
    padding-top:100px;
    color:white;
    opacity: 0.7;
}

.company {
    padding-top:100px;    
    color:white;
    opacity: 0.7;
}





.btn {
    background: hsl(16, 100%, 50%, 0.4) !important;
    border:none;
    height: 2rem;
    width: 5.5rem;
    font-size: 0.78rem;
}

.btn:active, .btn:focus {
    border:none !important;
    outline: none !important;
    transition: 0.3s;
    -webkit-transform: scale(1.1);
}

.navbar-toggler {
    border: 2px solid rgb(172, 113, 3) !important;
}

.footer {
    margin-top:100px;
    padding:50px;
    background: rgb(20, 18, 18);
    color:hsl(22, 100%, 33%);
}

.a {
    position: absolute;
    font-size:130px;
    top:25%;
    left:-35%;
    color:rgb(133, 38, 0);
    -webkit-animation-name: example; 
    -webkit-animation-duration: 4s;
    animation-name: example;
    animation-duration: 15s;
    animation-iteration-count: infinite;
  }
  
  @-webkit-keyframes example {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes example {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }
  