@media only screen  and (max-width:1024px) {

    .navbar-toggler {
        position: absolute;
        /* top:20px; */
        right:20px;
        background: rgba(255, 165, 0, 0.5);
        border:none;
    }

    .navbar-toggler:active {
        position: absolute;
        /* top:20px; */
        right:20px;
        background: rgba(255, 165, 0, 0.5);
        border:none;
    }

    .navbar {
        height:80px !important;
        border: none !important;
    }

    .navbar-nav {
        position: relative !important;
        -webkit-transform: translateY(0px);
        left:0px;
    }

    .navbar-collapse {
        -webkit-transform: translateY(145px);
    }

    .backg {
        margin-top:150px;
    }
    
    /* .avAnimDiv {
        position: relative;
        top:-20px;
        left:-20px;
        height: 10px;
        width: 10px;
    }

    .a {
        width: 10px;
        width: 10px;
    }
     */
    .avAnimDiv {
        margin-top:0px !important;
        margin-left:-15px;
        -webkit-transform: scale(0.7);
    }

    .log{
        margin-left:-15px !important;
        font-size:45px !important;
    }

    h1 {
        position:absolute;
        top:0% !important;
        left:5% !important;
        font-size: 400% !important;
        color:white;
        opacity: 0.2;
        -webkit-transform: rotate(0deg) !important;
    }

    .dotted {
        height:97% !important;
    }

    .descr1 {
        min-width:100%;
    }

    .carousel {
        margin-top: 0px !important;
        padding-top: 150px;
        margin-bottom: 0px !important;
    }

    .carousel, .carousel-inner img {
        height:100% !important;
    }

    .carousel-indicators {
        bottom: 150px !important;
    }
    
    .map {
        margin-top:100px;
        border:none;
        height: 400px !important;
        width: 100%;
    }

}

body {
    background: black;
    font-family: "Dejavu", "sans-serif";
    font-weight: 500;
}

svg {
    height:100px !important;
    margin:none;
    padding: none;
    transition: 0.5s;
    opacity: 0.6;
    filter:blur(1px);
}

svg:hover {
    transition: 0.5s;
    filter:blur(1px) brightness(1.5);
}

h1 {
    position:absolute;
    top:60vh;
    left:-5%;
    font-size: 500%;
    color:white;
    opacity: 0.2;
    -webkit-transform: rotate(90deg);
    margin-left:0px;
    z-index: 5;
}

h2 {
    /* font-size: 500%; */
    color:white;
    opacity: 0.8;
}

.routes {
    position: relative;
    display: block;
    margin-top:150px;
    min-height:20rem;
}

.navbar {
    background: rgba(0, 0, 0, 0.705);
    height:150px;
    border-radius: 0;
    /* border-bottom: 2px solid rgba(255, 117, 25, 0.4); */
    border-bottom: 2px solid rgba(128, 128, 128, 0.6);
    transition: 1.2s;    /* opacity: 0.7; */
}

.logoLink {
    position: absolute;
    top:25px;
    height:100px;
    margin-left:15px;
    padding: 0;
    filter:brightness(0.95);
}

.logoImg {
    height:inherit;
}

.navbar-nav {
    position: absolute;
    bottom:-2px;
    right:20%;
}

.headBg {

}

.dropdown-menu {
    font-size: 0.9rem;
    background: rgb(145, 144, 144);
    margin-top:0px;
}

.dropdown-item:hover {
    background:rgba(180, 104, 42, 0.808);
}

.navbar-nav>li>a {
    font-size: 0.95rem;
    font-family: Arial Narrow, sans-serif;
    color:orange !important;
    opacity: 0.85;
    transition: 0.4s;
}

.navbar-nav>li>a:hover {
    transition: 0.4s;
    background: transparent !important; 
    opacity: 1;
}

.linkLine {
    width:100%;
    height:2px;
    background: white;
}

.linkLineIn {
    width:0%;
    height:2px;
    background: rgb(255, 111, 28);
}

.linkLine1 {
    width:100%;
    height:2px;
    background: rgb(116, 38, 3);
}

.linkLine2 {
    width:100%;
    height:2px;
    background: rgb(160, 57, 9);
}

.linkLine3 {
    width:100%;
    height:2px;
    background: rgb(194, 72, 15);
}

.linkLine4 {
    width:100%;
    height:2px;
    background: rgb(231, 91, 27);
}


.backg {
    position: relative;
    margin-top:-150px;
    opacity: 0.7;
    z-index:1;
    width:100%;
}

.dotted {
    position: absolute;
    width:100%;
    height:99%;
    background-image: radial-gradient(black 50%, transparent 50%);
    background-size: 4px 4px;
    z-index:3;
}

.video {
    z-index:2;
    opacity: 0.7;
}

.carousel {
    margin-top:60px;
}

.carousel, .carousel-inner img {
    height: 300px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 150px;
    filter: brightness(0.9);
}

.descrDiv {
    margin-top:0px;
    margin-bottom:0px;
    height:200px;
    background: rgba(27, 27, 27, 0);
    -webkit-filter: grayscale(100%);
    padding-top: 100px;
    padding-bottom: 0px;
}

.descrDiv>h2 {
    margin-top:80px;
    margin-bottom:20px;
    opacity: 0.9;
}

.carousel {
    margin-top:200px;
}

.descr1 {
    color:white;
    opacity: 0.8;
}

.fields {
    margin-top:100px;
    margin-bottom:0px;
    height:400px;
    background: rgba(27, 27, 27, 0);
    -webkit-filter: grayscale(100%);
    padding-top: 120px;
    padding-bottom: 50px;
}

.fields::after {
    content: "";
    background: url("https://iphonewalls.net/wp-content/uploads/2014/09/Electronic%20Circuit%20Green%20Black%20iPhone%206%20Plus%20HD%20Wallpaper-320x480.jpg");
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.panfields {
    /* position: absolute; */
    top:-300px;
    height:300px;
    filter: opacity(0.4);
}

.statsDiv {
    margin-top: 0px;
    margin-bottom: 200px;
}

.homeStats {
    height:300px;
    width:50%;
    font-size: 20px;
    font-family: "Dejavu", "sans-serif";
    opacity: 0.8;
    transition: all .5s;
    transition: 0.3s;
    color:rgba(255, 255, 255, 0.6);
    border-left: 10px solid rgba(255, 166, 0, 0.24);
}
/* .homeStats.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
  } */

.homeStats:hover {
    opacity: 0.95;
    transition: 0.3s;
}

.homeStats1 {
    background:rgba(49, 47, 43, 0.5);
}

.homeStats2 {
    background:rgb(80, 69, 63,  0.95);
}

.homeStats3 {
    background:rgb(128, 59, 19,  0.95);
}

.homeStats4 {
    background:rgb(214, 93, 23,  0.95);
}

.homeStats span {
    font-size: 70px;
    font-weight: 500;
}

.card{
    background: rgb(24, 24, 24);
    color:rgb(145, 143, 143);
    margin-bottom:10px;
}

.card-img {
    transition: 0.2s;
}

.card-img:hover {
    /* transition: 0.3s; */
    -webkit-transform:scale(1.05);
}


.caption {
    color: #7f7f7f;
    padding:10px;
}


.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(95, 28, 28);
    height:0px;
    color: rgb(85, 85, 85);
}

li.dropdown:hover > .dropdown-menu {
    display: block;
    transition: 2s;
}

.home {
    background: rgb(17, 16, 16);
    padding-bottom: 15px;
    display: block;
}

.projects {
    padding: 15px;
    margin-top:200px;
    background: rgb(17, 16, 16);
}

.about {
    padding: 15px;
    padding-right: 0;
    margin-top:270px;
    color:white;
    opacity: 0.7;
    background: rgb(17, 16, 16);
    display: table;
    clear: both;
}

.aboutText {
    padding-top: 5px;
}

.contact {
    margin-top:150px;
    color:white;
    opacity: 0.8;
    background: rgb(17, 16, 16);
}

.partners {
    padding-top:100px;
    color:white;
    opacity: 0.7;
}

.company {
    padding-top:100px;    
    color:white;
    opacity: 0.7;
}

.map {
    margin-top:100px;
    border:none;
    height: 35vh;
    width: 100%;
}





.btn {
    background: hsl(16, 100%, 50%, 0.4) !important;
    border:none;
    height: 2rem;
    width: 5.5rem;
    font-size: 0.78rem;
}

.btn:active, .btn:focus {
    border:none !important;
    outline: none !important;
    transition: 0.3s;
    -webkit-transform: scale(1.1);
}

.navbar-toggler {
    /* border: 2px solid rgb(172, 113, 3) !important; */
}

.footer {
    margin-top:100px;
    padding:50px;
    background: rgb(20, 18, 18);
    color:hsl(22, 100%, 33%);
}

.avAnimDiv {
    z-index: 0;
    margin-top:-10px;
    justify-content: center;
    opacity: 0.7;
}

.avAnimDiv2 {
    display: flex;
    position: absolute;
    margin:auto;
    height:120px;
    width:120px;
    overflow:  hidden;
    text-align: center;
    z-index: 2;
}

.a {
    margin: auto;
    font-size:130px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    /* left:50%;
    -webkit-transform: (-50%,-50%); */
    color:rgb(133, 38, 0);
    -webkit-animation-name: example; 
    -webkit-animation-duration: 4s;
    animation-name: example;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    overflow:  hidden;
    /* border:5px solid rgb(133, 38, 0); */
    border-radius: 50%;
    height:50px;
    width:50px;
    z-index: 2;

  }
  
  @-webkit-keyframes example {
    0% {
        opacity: 0;
    }    

    20% {
        opacity: 0.6;
    }       
    

    50% {
        opacity: 1;
        transform: scale(2.3);
    }
    55% {
        transform: scale(2.3);
    }
    90% {
        opacity: 1;
        transform: scale(2.3);
    }

    100% {
        opacity: 0;
        transform: scale(2.3);
    }
  }
  

.avAnimDiv3 {
    z-index: 0;
}

  .log {
    position: relative;
    top:40px;
    left:140px;
    font-size:50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color:white;
    margin-left: 0px;
    -webkit-animation-name: log; 
    -webkit-animation-duration: 4s;
    animation-name: log;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    overflow:  hidden;
    height:200px;
    width:400px;
  }
  
  @-webkit-keyframes log {
    0% {
        opacity: 0; 
    }
    25% {      
        opacity: 0; 
    }
    25.5% {
        opacity: 0.6; 
    }
    26% {
        opacity: 0; 
    }
    26.5% {
        opacity: 0.8; 
    }

    90% {
        opacity: 0.8; 
    }

    100% {
        opacity: 0;
    }
  }

.hideme {
    -webkit-transform: translate(0,-70px);
    /* opacity:0; */
}

.hideme1 {
    opacity:0;
    -webkit-transform: translate(0,-55px);
}

.hideme2 {
    opacity:0;
}

.hideme3 {
    opacity:0;
    -webkit-transform: translate(-200px, 0);
}

.hideme4 {
    -webkit-transform: translate(200px, 0);
    opacity:0;
}

.appear1 {
    transition:1.5s;
    -webkit-transform: translate(0, 0px);
    opacity:1;
}

.appear2 {
    transition:5s;
    opacity:1;
}

.appear3 {
    transition:1.5s;
    -webkit-transform: translate(30px, 0px);
    opacity:1;
}

.appear4 {
    transition:1.5s;
    opacity:1;
    -webkit-transform: translate(-30px, 0px);
}

