
{{#section 'head'}}
    <title>{{title}}</title>
    <link rel="canonical" href="https://avologic2.herokuapp.com/">
    <meta name="description" content="Avologic is audio video company with wide areas of work"/>
{{/section}}


<div class="home">

    <div class="backg">
        <h1 class="title">AVologic</h1>
        <div class="dotted"></div>
        <video playsinline autoplay muted loop class="video" width="100%">
            <source src="videos/bill.mp4" type="video/mp4">
        </video>
    </div>

    <div class="container-fluid descrDiv hideme">
        <h2 class="text-center hideme1">AVologic</h2>
        <p class="text-center descr1 hideme2">
            Avologic is one of the biggest branding panels distributors on Balkans.<br>
            We also cover all of the Audio and Video areas, from digital techniques to<br>
            AV adjusting in space.
        </p>
    </div>

    <div class="container hideme">
        <div id="demo" class="carousel slide col-md-6 col-sm-12 hideme2" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="images/paneli/pan1.jpg" alt="Ledeca branding pannels" width="100%" height="100%">
                </div>
                <div class="carousel-item">
                <img src="images/paneli/w2.jpg" alt="Ada branding pannels" width="100%" height="100%">
                </div>
                <div class="carousel-item">
                <img src="images/paneli/w3.jpg" alt="Usce branding pannels" width="100%" height="100%">
                </div>
            </div>
            
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

    <div class="fields descr1 overflow-hidden">
        <div class="hideme">
            <img src="images/slidein/leftpan.png" class="panfields float-left hideme3 leftPan" alt="">
            <img src="images/slidein/centpan.png" class="panfields float-right hideme4" alt="">
        </div>
        <div class="hideme">
            <h3 class="text-center hideme2">Our main fields</h3>
        </div>
        <div class="hideme fieldsList">
            <div class=" hideme2">
                <p class="text-center">DIGITAL SIGNAGE</p>
                <p class="text-center">CONFERENCE ROOM</p>
                <p class="text-center">REST??</p>
                <p class="text-center">HOME CINEMA</p>
                <p class="text-center">CONTROL ROOM</p>
            </div>  
        </div>     
    </div>
    
    <div class="container-fluid p-0 led">   
        <div class="row">
            <svg style="width: 100%; height: 100%;" class="col-12 p-0">        
                <pattern id="pattern-circles5" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                    <circle cx="2" cy="2" r="2" fill= "rgba(39, 39, 39, 0.4)" />
                </pattern>

                <rect x="0%" y="0" fill="url(#pattern-circles5)" width="100%" height="100%"/>     
            </svg>
            <svg style=" height: 100%;" class="col-8 p-0">        
                <pattern id="pattern-circles2" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                    <circle cx="2" cy="2" r="2" fill= "#62337e" />
                </pattern>

                <rect x="0%" y="0" fill="url(#pattern-circles2)" width="100%" height="100%"/>     
            </svg>  

            <svg style="height: 100%;" class="col-4 p-0">        
                <pattern id="pattern-circles1" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                    <circle cx="2" cy="2" r="2" fill= "#f06b06a6" />
                </pattern>
                <rect x="0%" y="0" fill="url(#pattern-circles1)" width="100%" height="100%"/>             
            </svg> 

            <svg style="width: 100%; height: 50%;" class="col-5 p-0">                 
                <pattern id="pattern-circles3" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                    <circle cx="2" cy="2" r="2" fill= "#3eb4218c" />
                </pattern>

                <rect x="0%" y="0%" fill="url(#pattern-circles3)" width="100%" height="100%"/>     
            </svg>

            <svg style="width: 100%; height: 100%;" class="col-7 p-0">        
                <pattern id="pattern-circles4" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                    <circle cx="2" cy="2" r="2" fill= "rgba(0, 0, 117, 0.5)" />
                </pattern>  

                <rect x="0%" y="0" fill="url(#pattern-circles4)" width="100%" height="100%"/>     
            </svg>

            <svg style="width: 100%; height: 100%;">        
                <pattern id="pattern-circles5" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                    <circle cx="2" cy="2" r="2" fill= "rgba(39, 39, 39, 0.4)" />
                </pattern>

                <rect x="0%" y="0" fill="url(#pattern-circles5)" width="100%" height="100%"/>     
            </svg>

        </div>
        

        {{!--     --}}
    </div>

     <div class="container-fluid hideme clients cli overflow-hidden">
         <div class="row cli">
             <div class="hideme2 col-12 text-center">
                <h3 class="text-center">Our main clients</h3>
            </div>  
             <div class="hideme3 col-4 cli">
                <p class="text-center">City garden</p>
                <p class="text-center">KFC</p>
                <p class="text-center">Fashion & Friends</p>
                <p class="text-center">Panda store</p>
            </div>
            <div class="hideme2 col-4 cli">
                <p class="text-center">BOSCH</p>
                <p class="text-center">BM Boss</p>
                <p class="text-center">Shell</p>
                <p class="text-center">ADA Mall</p>
            </div>  
            <div class="hideme4 col-4 cli">
                <p class="text-center">Smokvica caffee</p>
                <p class="text-center">Nachos restaurant</p>
                <p class="text-center">Mind caffee</p>
                <p class="text-center">Caffee Music</p>
            </div>  
         </div>
     </div>
     

    <div class="container-fluid statsDiv">
        <div class="row counter" id="counter">
            <div class="homeStats homeStats1 slide-in col-sm6 d-flex align-items-center justify-content-center">               
                <p class="text-center"><span data-count="74" id="clients" class="counter-value">0</span> clients</p>
            </div>
            <div class="homeStats homeStats2 col-sm6 d-flex align-items-center justify-content-center">
                <p class="text-center"><span class="counter-value text-center" data-count="346">0</span> projects</p>
            </div>
            <div class="homeStats homeStats3 col-sm6 d-flex align-items-center justify-content-center">
                <p class="text-center"><span>7</span> countries</p>
            </div>
            <div class="homeStats homeStats4 col-sm6 d-flex align-items-center justify-content-center">
                <p class="text-center"><span>10</span>  years of experience</p>
            </div>
        </div>
    </div>
    

    {{!-- <div class="container proj">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="card border-0">
                    <img src="images/paneli/pan1.jpg" alt="..." class="card-img">
                    <div class="caption">
                        <h3>Ledeca</h3>
                        <p class="description">Our first works on international scene</p>
                        <div class="clearfix">
                            <div class="price pull-left"></div>
                            <a href="#" class="btn btn-success" role="button">See more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card border-0">
                    <img src="images/paneli/w2.jpg" alt="..." class="card-img">
                    <div class="caption">
                        <h3>Ada mall</h3>
                        <p class="description">Shop panels used in Ada Mall</p>
                        <div class="clearfix">
                            <a href="#" class="btn btn-success pull-right" role="button">See more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card border-0">
                    <img src="images/paneli/w3.jpg" alt="..." class="card-img">
                    <div class="caption">
                        <h3>Usce shopping mall</h3>
                        <p class="description">Shop panels used in Usce</p>
                        <div class="clearfix">
                            <a href="#" class="btn btn-success pull-right" role="button">See more</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> --}}
   
</div>
