{{#section 'header'}}
    <img src="../images/logo.png" class="logoImg a" alt="avologic">
{{/section}}

{{#section 'headerLinks'}}
  {{!-- <a class="nav-link dropdown-toggle" href="about" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false"> --}}
        <a class="nav-link aboutLink" href="o-nama" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false">
          O NAMA
        </a>
        
        <div class="linkLine linkLine4">
          <div class="linkLineIn"></div>
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item partnersLink" href="/partners">Partneri</a>
          <a class="dropdown-item companyLink" href="/company">Kompanija</a>
        </div>
{{/section}}

{{#section 'contactLink'}}
<a class="nav-link contactLink" href="/ser/kontakt">KONTAKT</a>
<div class="linkLine linkLine5">
    <div class="linkLineIn"></div>
</div>
{{/section}}

<div class="company">
    <div class="container">
        <div class="">
             <div class="">
                <p>We started as a small AV company long time ago.<br>
                As the technology improved, we followed every step in various filds.<br>
                We impleneted many new solutions, and whats's more important<br>
                we brought it in Serbia, for the first time ever.
                </p>
                <p></p>  
                <p></p>
            </div>
        </div>  
    </div>
</div>