{{#section 'header'}}
  <img src="../images/logo.png" class="logoImg a" alt="avologic">
{{/section}}
{{#section 'headerLinks'}}
  <a class="nav-link aboutLink" href="o-nama" id="navbarDropdownMenuLink" role="button" aria-haspopup="true"
    aria-expanded="false">
    O NAMA
  </a>
  <div class="linkLine linkLine4">
    <div class="linkLineIn"></div>
  </div>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item partnersLink" href="partneri">Partneri</a>
    <a class="dropdown-item companyLink" href="kompanija">Kompanija</a>
  </div>
{{/section}}
{{#section 'contactLink'}}
  <a class="nav-link contactLink" href="/ser/kontakt">KONTAKT</a>
  <div class="linkLine linkLine5">
    <div class="linkLineIn"></div>
  </div>
{{/section}}
<div class="company">
  <div class="container">
    <div class="d-flex">
      <div class="d-flex">
        <p>
          Počeli smo kao mala AV Kompanija. Kako je
          tehnologija napredovala, pratili smo napredak
          na svakom polju. Implementirali smo inovacije,
          ali što je najbitnije, doveli smo ih u Srbiju prvi put.
        </p>
        <p>
          Naša misija je uvek okrenuta budućnosti.
          Uvek smo u kontaktu sa najnovijim trendovima industrije
          koje donosimo od najprestižnih proizvođača iz sveta.
        </p>
        <p>
          Vođa tima je Saša Ampovski, elektro inženjer sa dugogodišnjim
          iskustvom u svim AV oblastima. AVologic je njegovo ogledalo, i sve
          što je do sada naučio i postigao uložio je u svoju firmu, u kojoj
          drži do familijarnih vrednosti, koje hoćemo i vama da prenesemo.
        </p>
      </div>
      <div class="d-inline-flex">
        <img src="../../images/logo.png" alt="">
      </div>
    </div>
  </div>
</div>