<div class="company">
    <div class="container">
        <div class="">
             <div class="">
                <p>We started as a small AV company long time ago.<br>
                As the technology improved, we followed every step in various filds.<br>
                We impleneted many new solutions, and whats's more important<br>
                we brought it in Serbia, for the first time ever.
                </p>
                <p></p>  
                <p></p>
            </div>
        </div>  
    </div>
</div>