{{#section 'header'}}
    <img src="../images/logo.png" class="logoImg a" alt="avologic">
{{/section}}

{{#section 'headerLinks'}}
  {{!-- <a class="nav-link dropdown-toggle" href="about" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false"> --}}
        <a class="nav-link aboutLink" href="o-nama" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false">
          O NAMA
        </a>
        
        <div class="linkLine linkLine4">
          <div class="linkLineIn"></div>
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item partnersLink" href="partneri">Partneri</a>
          <a class="dropdown-item companyLink" href="kompanija">Kompanija</a>
        </div>
{{/section}}

{{#section 'contactLink'}}
<a class="nav-link contactLink" href="/ser/kontakt">KONTAKT</a>
<div class="linkLine linkLine5">
    <div class="linkLineIn"></div>
</div>
{{/section}}

<div class="about container">
    <div>
        <div class="d-inline-block float-left">
            <div class="aboutText">
                Mi smo firma iz Beograda sa iskusnim timom, <br>
                koji se bavi širokim poljem elektrotehnike.<br>
                 <br>
                Naša glavna delatnost je distribucija i montaža brending panela.<br>

                Mi imamo dugu istoriju u ovoj oblasti i već brone zadovolje klijente.<br>
                <br>
                Neki od njih su:
                KFC, Ledeca, Fachion&Friends etc.
            </div>
            <br>
            <div>
                Naša misija je uvek okrenuta budućnosti.<br>
                Uvek smo u kontaktu sa najnovijim trendovima industrije<br>
                koje donosimo od najprestižnih proizvođača iz sveta.
            </div>
        </div>

        <div>
            <img src="../images/ledeca/sponsors.jpg" alt="branding pannels clients" class="d-inline-block float-right" width="40%">
        </div>
    </div>
</div>