{{#section 'headerLinks'}}
  <a class="nav-link aboutLink" href="o-nama" id="navbarDropdownMenuLink" role="button" aria-haspopup="true"
    aria-expanded="false">
    O NAMA
  </a>
  <div class="linkLine linkLine4">
    <div class="linkLineIn"></div>
  </div>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item partnersLink" href="partneri">Partneri</a>
    <a class="dropdown-item companyLink" href="kompanija">Kompanija</a>
  </div>
{{/section}}
{{#section 'contactLink'}}
  <a class="nav-link contactLink" href="/ser/kontakt">KONTAKT</a>
  <div class="linkLine linkLine5">
    <div class="linkLineIn"></div>
  </div>
{{/section}}

<div class="partners">
  <div class="container">
    <div>
      <div>
        <p>
          Naši glavni partneri su velike kompanije sa dokazanim kvalitetom<br>
          i dugim prisustvom na sceni.
        </p>
        <p>Neki od naših glavnih saradnika su:</p>
        <ul>
          <li>Ledeca </li>
          <li>Kfc</li>
          <li>Fashoin&riends</li>
        </ul>
        <br>
        <p>
          Trudimo se da budemo prisutni na svim sajmovima AV tehnologije, <br>
          kako domaćim, tako i svetskim. Tu razvijamo
          partnerstva, i volimo povezivanje <br>
          sa ozbiljnim proizvođačima i distributerima opreme najkasnijeg trenda.
        </p>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
</div>